<div class="banner">
  <div class="container">
    <h1><span id="banner-typed-text"></span></h1>
    <a href=""></a>
    <a class="btn btn-flat fas fa-arrow-alt-circle-down" href="#">See Drinks</a>
  </div>
</div>
<div class="banner-drinks grid-container">
  <h1 class="text-center">Choose your favorite drink</h1>
  <ul class="cards">

    <% @cocktails.each do |cocktail| %>
    <li class="cards__item">
      <div class="card" data-aos="zoom-in" data-aos="fade-left">
        <%= link_to cl_image_tag( cocktail.photo, width: 600, height: 440, crop: :fill, class: "card__image"), cocktail %>
        <div class="card__content">
          <div class: "card__title">
            <%= cocktail.name %>
          </div>
          <p><%= cocktail.description %></p>
        </div>
      </div>
    </li>
    <% end %>

  </ul>
