<header>
  <nav>
   <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Lola Drinks</h1>
      <p class="lead text-muted">Cardápio de drinks e coqueteis para sua festa - Aproveite o máximo!</p>
    </div>
  </section>
</nav>
</header>
