.banner {
  display: flex;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  background-image: asset-url('background.jpg'),
  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  align-items: center;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-new {
  display: flex;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  background-image: asset-url('barman.jpg'),
  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  align-items: center;
  justify-content: space-around;
}

.banner-new .container {

  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  opacity: .7;
  .string .required {
    padding: 10px;
    color: black;
  }

}
